.category-panel {
  display: flex;
}

.category-panel .container {
  overflow: hidden;
  display: flex;
  flex-flow: wrap;
}

.category-panel a {
  width: 96px;
  margin-bottom: 8px;
  margin-left: 48px;
}
